<html>
  <head>
    <title>The Magic Calculator</title>
  </head>
  <body>
    <form method="post" action="/calculate">
      <input type="text" name="first-operand"  />
      <input type="text" name="second-operand" />
      <input type="submit" value="+" />
    </form>
    <div id="answer"><%= @answer %> </div>
  </body>
</html>
